ion-content{
    padding: 20px;
    display: flex  ;
    justify-content: center;
    align-items: center;
}

.payment-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
ion-thumbnail{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
ion-thumbnail img{
    width: 100%;
}