ion-title {
    font-size: 14px;
}

ion-content {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.total-amount {
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    margin: 20px;
    font-size: 20px;
}