<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>embedded-payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="ion-padding">
    <img src="assets/images/alanam-logo-dark.png" alt="Payment" style="width: 100%; width:256px; display: block; margin: 0 auto;">
  </div>
  <div class="ion-padding payment-container">
    <div id="unified-session" #unifiedSession></div>
    <div id="gp-card-element" #gpCardElement style="margin-top: 12px;"></div>
  </div>
</ion-content>