<ion-header class="header-menu" [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'Search' | translate}}</ion-title>
    <ion-buttons slot="end" (click)="navigateToCart()">
      <ion-button>
        <ion-icon name="cart-outline"></ion-icon>
        <ion-badge *ngIf="cartCount > 0">{{ cartCount }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container dir="rtl" rtl="true" [loop]="true" autoplay="true" [pagination]="{ clickable: true }"
    [slidesPerView]="1" [slidesPerGroup]="1" [loopFillGroupWithBlank]="true">
    <swiper-slide swiperSlide>
      <img src="assets/images/4alanam.jpeg" alt="Promo 1">
    </swiper-slide>
    <swiper-slide swiperSlide>
      <img src="assets/images/5alanam.jpeg" alt="Promo 2">
    </swiper-slide>
    <swiper-slide swiperSlide>
      <img src="assets/images/6alanam.jpeg" alt="Promo 2">
    </swiper-slide>
  </swiper-container>
  <div class="split-layout">
    <div class="categories-section">
      <ion-list>
        <div class="categories" (click)="onCategoryClick('all')">
          <ion-avatar slot="start">
            <img [src]="'assets/images/all-2.png'" />
          </ion-avatar>
          <ion-label class="cat-label">{{ 'All' | translate}}</ion-label>
        </div>
        <div class="categories" *ngFor="let category of categories" (click)="onCategoryClick(category)">
          <ion-avatar slot="start">
            <img [src]="'https://shopapi.alanaam.qa/' + category.categoryUrl" />
          </ion-avatar>
          <ion-label  class="cat-label">{{ currentLanguage === 'ar' ? category.ar_CategoryName :
            category.en_CategoryName
            | uppercase}}</ion-label>
        </div>
      </ion-list>
    </div>

    <div class="products-section">
      <ion-grid>

        <ion-row>
          <ion-col size="12">
            <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onSearch()"></ion-searchbar>
          </ion-col>
          <ion-col size="12">
            <ion-row class="sub-category-item" >
              <ion-col size="6" *ngFor="let sub of subCategory" (click)="onCategoryClick(sub)" >
                <ion-item >
                  <ion-row>
                    <ion-img [src]="'https://shopapi.alanaam.qa/' + sub.categoryUrl"
                      alt="{{ sub.en_CategoryName  }}"></ion-img>
                    <p class="sub-font">{{ currentLanguage === 'ar' ? sub.ar_CategoryName : sub.en_CategoryName
                      | uppercase}}</p>
                  </ion-row>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col class="product-col" size="6" *ngFor="let product of products"
            (click)="navigateToProduct(product.productID)">
            <ion-card>
              <div class="image-container">
                <img [src]="'https://shopapi.alanaam.qa/' + product.mainImageUrl" alt="{{ product.en_ProductName }}" />
              </div>
              <ion-card-content>
                <h2 class="product-name">{{ currentLanguage === 'ar' ? product.ar_ProductName : product.en_ProductName
                  }}</h2>
                <p class="product-price">QAR {{ product.productPrice }}</p>
                <ion-button (click)="navigateToProduct(product.productID)" color="primary" fill="outline"
                  size="small">+</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" *ngIf="products.length  < 1">
            <ion-label class="no-products">{{'No Products Found' | translate}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
