<ion-header translucent>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <!-- Left column for logo -->
      <ion-col size="6">
        <img src="assets/images/alanam-logo.png" width="64px" alt="Logo" class="logo">
      </ion-col>
      <!-- Right column for cart icon -->
      <ion-col size="6" class="ion-text-end">
        <ion-button fill="clear">
          <ion-icon name="cart-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col lines="none" class="custom-search">
        <ion-searchbar class="search-input" placeholder="Search Product'" class="searchbar-custom"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content class="ion-padding">

  

</ion-content>