:root {
    --ion-background-color: whitesmoke !important;
    --ion-text-color: darkred !important;
}
ion-header{
    display: flex;
    align-items: center;
}
ion-accordion-group {
    --background: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

ion-accordion {
    --background: #ffffff;
    border-bottom: 1px solid #eee;
}

ion-list {
    padding: 16px;
    background-color: #f9f9f9;
}

ion-thumbnail {
    width: 70px;
    height: 70px;
}

ion-item-divider {
    font-weight: bold;
    color: #6c2835;
}
ion-icon{
    width: 32px;
    height: 32px;
}
.order-history h2 {
    padding: 30px;
    color:black;
}