<ion-content class="login">
  <ion-button class="back-button" (click)="onBack()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
  <div class="phone-container">

    <div class="phone-container" *ngIf="!showOtpModal">
      <div class="logo-image">
        <img class="logo" src="assets/images/alanam-logo-dark.png" alt="logo" class="logo" />
      </div>
      <h2>{{'Login' | translate}}</h2>
      <h6 class="phone-title">{{'Enter your phone number'| translate}}</h6>
      <form [formGroup]="phoneForm" (ngSubmit)="sendOTP()">
        <ion-item>
          <ion-input type="tel" maxlength="8" formControlName="phoneNumber" label="{{'Enter Phone Number' | translate}}"
            label-placement="floating" fill="outline" placeholder="{{'Enter Phone Number' | translate}}"></ion-input>
        </ion-item>
        <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!phoneForm.valid">Send OTP</ion-button>
      </form>
    </div>
  </div>
  <div *ngIf="showOtpModal" class="otp-dialog" (click)="closeModal($event)">
    <div class="otp-container" (click)="$event.stopPropagation()">
      <h2 class="otp-title">{{'Enter OTP' | translate}}</h2>

      <form [formGroup]="otpForm" (ngSubmit)="verifyOTP()">
        <div class="otp-input-box">
          <input type="tel" formControlName="otp1" maxlength="6"  />
        </div>
        <ion-button expand="full" type="submit" [disabled]="!otpForm.valid">{{"Verify OTP" | translate}}</ion-button>
      </form>
    </div>
  </div>
</ion-content>