<ion-header>
  <ion-toolbar>
    <ion-title>Select Payment Method</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let payment of paymentMethods" (click)="selectPaymentMethod(payment)">
      <ion-item *ngIf="payment.PaymentMethodId != 8 && payment.PaymentMethodId != 9">
        <ion-thumbnail slot="start">
          <img [src]="payment.ImageUrl" alt="Payment Logo" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ payment.PaymentMethodEn }}</h2>
          <p>Currency: {{ payment.CurrencyIso }}</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>