<ion-header class="header-menu" [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Categories</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="cart-outline"></ion-icon>
        <ion-badge *ngIf="cartCount > 0">{{ cartCount }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container [loop]="true" autoplay="true"
    [pagination]="{ clickable: true }" [slidesPerView]="1" [slidesPerGroup]="1" [loopFillGroupWithBlank]="true">
    <swiper-slide swiperSlide>
      <img src="assets/images/4alanam.jpeg" alt="Promo 1">
    </swiper-slide>
    <swiper-slide swiperSlide>
      <img src="assets/images/5alanam.jpeg" alt="Promo 2">
    </swiper-slide>
    <swiper-slide swiperSlide>
      <img src="assets/images/6alanam.jpeg" alt="Promo 2">
    </swiper-slide>
  </swiper-container> <ion-grid>
    <ion-row>

      <ion-col size="3" class="categories-col">
        <ion-list class="categories-list">
          <ion-item class="category-item-all" (click)="onCategoryClick({ id: 'all' })">
            <div class="category-content">
              <ion-thumbnail class="category-thumbnail">
                <ion-img src="assets/images/all.png" alt="All"></ion-img>
              </ion-thumbnail>
              <div class="category-name">ALL</div>
            </div>
          </ion-item>
          <ion-item class="category-item" *ngFor="let category of categories" (click)="onCategoryClick(category)">
            <div class="category-content">
              <ion-thumbnail class="category-thumbnail">
                <ion-img [src]="'https://shopapi.alanaam.qa/' + category.categoryUrl"
                  alt="{{ category.en_CategoryName }}"></ion-img>
              </ion-thumbnail>
              <div class="category-name">{{category.en_CategoryName | uppercase}}</div>
            </div>
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col size="9">
        <ion-row>
          <ion-col size="12">
            <ion-item class="sub-category-item" *ngFor="let sub of subCategory" (click)="onCategoryClick(sub)">
              <ion-row>
                <ion-img [src]="'https://shopapi.alanaam.qa/' + sub.categoryUrl"
                  alt="{{ sub.en_CategoryName  }}"></ion-img>
                <p>{{ sub.en_CategoryName | uppercase }}</p>
              </ion-row>
            </ion-item>
          </ion-col>

          <ion-col class="product-col" size="6" *ngFor="let product of products">
            <div class="product-card" (click)="navigateToProduct(product.productID)">
              <div class="product-image">
                <ion-img [src]="'https://shopapi.alanaam.qa/' + product.mainImageUrl" alt="{{ product.en_ProductName }}"
                  class="product-image"></ion-img>
              </div>
              <div class="product-desc">
                <p class="product-name">{{ product.en_ProductName }}</p>
                <p class="product-price">QAR {{ product.productPrice }}</p>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>