.search-input,
input.searchbar-input.sc-ion-searchbar-ios {
  background-color: white;
}

.split-layout {
  display: flex;
  flex-direction: row;
}

.categories-section {
  width: 25%;
  height: 120vh;
  position: sticky;
  top: 0;
  background-color: #f8f8f8;
  border-right: 1px solid #ccc;
  padding: 10px;
}

.products-section {
  width: 75%;
  overflow-y: scroll;
  padding: 10px;
}

ion-avatar {
  width: 64px;
  height: 64px;
}

// .categories {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   padding: 10px;
//   border-radius: 8px;
//   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
//   transition: box-shadow 0.3s ease, transform 0.3s ease;
//   gap: 10px;
// }

.categories{
  display: flex
  ;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
      transition: box-shadow 0.3s ease, transform 0.3s ease;
      gap: 10px;
      background: white;
      margin: 1px;
      border: none;
}
.categories img{
  border-radius: 0;
  object-fit: cover;
}

ion-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: no-repeat;
  margin-top: 50px;
}

.products-section {
  padding: 10px;
}

.product-col {
  padding: 0;
}

ion-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

ion-card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

ion-card-content {
  padding: 5px
}

.image-container {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-name {
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
  color: #333;
}

.product-price {
  font-size: 12px;
  text-align: center;
  color: #888;
  margin-bottom: 10px;
}

ion-button {
  display: block;
  margin: 0 auto;
}

.cat-label {
  text-align: center;
  color: #000;
  font-size: 12px;
}

.sub-font {
  font-size: 12px;
}

.sub-category-item {
  display: flex;
  flex-wrap: wrap;
  padding:2px;
  font-size: 10px;
  .sub-category {
    text-align: center;
  }

  .category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    --ion-item-background: transparent;
    background: white;
    padding: 2px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    overflow: visible;
  }

  .category-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .category-avatar {
      width: 80px;
      height: 80px;
      border-radius: 0%;
      overflow: hidden;
      margin-bottom: 10px;

      ion-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0;
      }
    }

    .sub-font {
      font-size: 10px;
      color: black;
      text-align: center;
      margin-top: 5px;
    }
  }
}