<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label></ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="cart"></ion-icon>
        <ion-label></ion-label>
        <ion-badge color="light">{{ count }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="cart-list">
    <ion-item *ngFor="let item of cartItems" class="cart-item">
      <ion-thumbnail slot="start">
        <img [src]="'https://shopapi.alanaam.qa/' +item.product.mainImageUrl" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.product.en_ProductName }}</h2>
        <p>QAR {{ item.price }}</p>
        <p>slaughterCharge:{{item.product.SlaughterCharge}}</p>
        <div class="quantity">
          <ion-button size="small" (click)="decreaseQuantity(item)">-</ion-button>
          <span>{{ item.quantity }}</span>
          <ion-button size="small" color="success" (click)="increaseQuantity(item)">+</ion-button>
        </div>
      </ion-label>
      <ion-icon name="trash-outline" slot="end" color="danger" (click)="removeItem(item)"></ion-icon>
    </ion-item>
  </ion-list>

  <div class="total-section">
    <ion-item>
      <ion-label>Total:</ion-label>
      <ion-note slot="end">${{ totalAmount }}</ion-note>
    </ion-item>
    <ion-button expand="block" color="" (click)="proceedToCheckout()" class="checkout-btn">Proceed to Checkout</ion-button>
  </div>
</ion-content>
