<ion-content class="login-type">

  <ion-button class="back-button" (click)="onBack()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>

  <div class="phone-container">
    <div class="logo-container">
    <img class="logo" src="assets/images/alanam-logo-dark.png" alt="logo" class="logo" />
  </div>
    <div class="button-container">
      <ion-button class="continue-as-guest" (click)="navigateToShipping()">{{'Continue as Guest' |
        translate}}</ion-button>
      <ion-button class="login-as-user" (click)="navigateToLogin()">{{'Login as User' | translate}}</ion-button>
    </div>
  </div>
</ion-content>