<ion-header class="header-menu" [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{'Booking Form' | translate}}</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <swiper-container dir="rtl" rtl="true" [loop]="true" autoplay="true" [slidesPerView]="1" [slidesPerGroup]="1"
    [loopFillGroupWithBlank]="true">
    <swiper-slide swiperSlide>
      <img src="assets/images/70alanaam.jpeg" alt="Promo 2">
    </swiper-slide>
    <swiper-slide swiperSlide>
      <img src="assets/images/80alanaam.jpeg" alt="Promo 2">
    </swiper-slide>
    <swiper-slide swiperSlide>
      <img src="assets/images/90alanaam.jpeg" alt="Promo 4">
    </swiper-slide>
  </swiper-container>
  <ion-accordion-group *ngIf="bookingCart">
    <ion-accordion value="first" *ngFor="let booking of bookingCart">
      <ion-item slot="header" color="light">
        <ion-label>{{'Booking Information' | translate}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{'Your Shopping Bag' | translate}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none">
              <ion-label>
                <h2> {{ isArabic ? booking.product.ar_ProductName : booking.product.en_ProductName }}</h2>
                <p> {{booking.quantity}} x {{booking.price}} QAR</p>
              </ion-label>
            </ion-item>

            <ion-item lines="none">
              <ion-label>
                <p>{{booking.quantity}} - {{'item(s)' | translate}}</p>
              </ion-label>
            </ion-item>

            <ion-item lines="none">
              <ion-label>
                <p>{{'Slaughter Charge' | translate}}</p>
              </ion-label>
              <ion-label slot="end">{{booking.slaughterCharge * booking.quantity }} QAR</ion-label>
            </ion-item>

            <ion-item lines="none">
              <ion-label>
                <p>{{'Cutting Charge' | translate}}</p>
              </ion-label>
              <ion-label slot="end">{{ booking.cuttingAmount * booking.quantity }} QAR</ion-label>
            </ion-item>

            <ion-item lines="none">
              <ion-label>
                <p>{{'Delivery Charge' | translate}}</p>
              </ion-label>
              <ion-label slot="end">{{ additionalCharge }} QAR</ion-label>
            </ion-item>

            <ion-item lines="none">
              <ion-label>
                <h2>{{'Order Total' | translate}}</h2>
              </ion-label>
              <ion-label slot="end">
                <h2>{{ booking.quantity * booking.price + (booking.quantity * booking.slaughterCharge) +
                  (booking.quantity * booking.cuttingAmount) + additionalCharge }} QAR</h2>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-grid>
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
      <h2>{{'User Info' | translate}} </h2>

      <ion-item>
        <ion-label>{{'Address Type' | translate}}</ion-label>
        <ion-select [okText]="okButtonText" [cancelText]="cancelButtonText" formControlName="addressType"
          (ionChange)="onAddressTypeChange($event)">
          <ion-select-option value="individual">{{'Individual' | translate}}</ion-select-option>
          <ion-select-option value="company">{{'Company' | translate}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-note *ngIf="orderForm.get('addressType')?.touched && orderForm.get('addressType')?.invalid" color="danger">
        Address Type is required.
      </ion-note>

      <ion-item>
        <ion-label position="floating">{{'Customer Name' | translate}}</ion-label>
        <ion-input minlength="3" formControlName="customerName"></ion-input>
      </ion-item>
      <ion-note *ngIf="orderForm.get('customerName')?.touched && orderForm.get('customerName')?.invalid" color="danger">
        Customer Name is required and must be atleast 3 character long .
      </ion-note>

      <!-- Email -->
      <ion-item>
        <ion-label position="floating">{{'Email' | translate}}</ion-label>
        <ion-input formControlName="emailID"></ion-input>
      </ion-item>
      <ion-note *ngIf="orderForm.get('emailID')?.touched && orderForm.get('emailID')?.invalid" color="danger">
        <span *ngIf="orderForm.get('emailID')?.errors?.['required']">Email is required.</span>
        <span *ngIf="orderForm.get('emailID')?.errors?.['email']">Invalid email format.</span>
      </ion-note>

      <!-- Phone Number -->
      <ion-item>
        <ion-label position="floating">{{'Phone Number' | translate}}</ion-label>
        <ion-input maxlength="8" type="tel" formControlName="phoneNo"></ion-input>
      </ion-item>
      <ion-note *ngIf="orderForm.get('phoneNo')?.touched && orderForm.get('phoneNo')?.invalid" color="danger">
        <span *ngIf="orderForm.get('phoneNo')?.errors?.['required']">Phone Number is required.</span>
        <span *ngIf="orderForm.get('phoneNo')?.errors?.['minlength']">Phone Number must be at least 8 digits.</span>
      </ion-note>

      <!-- Company Name (Visible only if address type is "company") -->
      <div *ngIf="isCompany">
        <ion-item>
          <ion-label position="floating">{{'Company Name' | translate}}</ion-label>
          <ion-input formControlName="companyName"></ion-input>
        </ion-item>
      </div>


      <h2>{{'Shipping Address' | translate}}</h2>
      <!-- City -->
      <ion-item id="city-input">
        <ion-label position="floating">{{'City' | translate}}</ion-label>
        <ion-input #cityInput formControlName="city" id="autocompleteInput" class="cityinput"></ion-input>
      </ion-item>
      <ion-note *ngIf="orderForm.get('city')?.touched && orderForm.get('city')?.invalid" color="danger">
        City is required.
      </ion-note>




      <!-- Building/No -->
      <ion-item>
        <ion-label position="floating">{{'Building/No' | translate}}</ion-label>
        <ion-input formControlName="buildingName_No"></ion-input>
      </ion-item>
      <ion-note *ngIf="orderForm.get('buildingName_No')?.touched && orderForm.get('buildingName_No')?.invalid"
        color="danger">
        Building/No is required.
      </ion-note>

      <!-- Street Name/No -->
      <ion-item>
        <ion-label position="floating">{{'Street Name/No' | translate}}</ion-label>
        <ion-input formControlName="streetName_No"></ion-input>
      </ion-item>
      <ion-note *ngIf="orderForm.get('streetName_No')?.touched && orderForm.get('streetName_No')?.invalid"
        color="danger">
        Street Name/No is required.
      </ion-note>

      <!-- Landmark -->
      <ion-item>
        <ion-label position="floating">{{'Landmark' | translate}}</ion-label>
        <ion-input formControlName="landMark"></ion-input>
      </ion-item>
      <ion-note *ngIf="orderForm.get('landMark')?.touched && orderForm.get('landMark')?.invalid" color="danger">
        Landmark is required.
      </ion-note>

      <ion-checkbox [checked]="orderForm.get('saveAddress')?.value" (ionChange)="onSaveAddress($event)">
        Save Address
      </ion-checkbox>
      <!-- Delivery Method -->
      <h2>{{'Delivery Method' | translate}}</h2>

      <ion-radio-group formControlName="deliveryMethod">
        <ion-radio slot="start" justify="space-between" value="selfPickup" id="selfPickup">{{'Self Pickup' | translate}}
          &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</ion-radio>
        <ion-radio slot="start" justify="space-between" value="Doorstep Delivery" id="homeDelivery">{{'Home Delivery' |
          translate}} &nbsp;&nbsp; (20 QAR)</ion-radio>
      </ion-radio-group>

      <h2>{{'Time & Date Selection' | translate}}</h2>

      <!-- Delivery Time -->
      <ion-item>
        <ion-label position="floating">{{'Select Time' | translate}}</ion-label>
        <ion-select formControlName="deliveryTime" [okText]="okButtonText" [cancelText]="cancelButtonText">
          <ion-select-option value="10AM-01PM">10AM-01PM</ion-select-option>
          <ion-select-option value="01PM-04PM">01PM-04PM</ion-select-option>
          <ion-select-option value="04PM-08PM">04PM-08PM</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item button>
        <ion-label position="floating" style="margin-bottom: 10px;">Select Date</ion-label>
        <ion-datetime formControlName="DeliveryDate" display-format="MMM dd, yyyy" presentation="date"
          picker-format="MMM dd, yyyy" [min]="minDate" [max]="maxDate">
        </ion-datetime>
      </ion-item>

      <h2>{{'Location Selection' | translate}}</h2>

      <ion-item>
        <ion-label position="floating">{{'Location' | translate}}</ion-label>
        <ion-select formControlName="pickupLocation">
          <ion-select-option selected="true" value="Alanaam-factory">Al Anaam Factory</ion-select-option>
          <ion-select-option value="Lohud-Al-Rayan">Lohud Al Rayan</ion-select-option>
          <ion-select-option value="Lohud-MAnaseer">Lohud Manaseer</ion-select-option>
          <ion-select-option value="Lohud-Madina-Khalifa">Lohud Madina Khalifa</ion-select-option>
          <ion-select-option value="Lohud-Al-Gharafa">Lohud Al Gharafa</ion-select-option>
          <ion-select-option value="Lohud-Al-Wakra">Lohud Al Wakra</ion-select-option>
          <ion-select-option value="Lohud-Al-Khor">Lohud Al Khor</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-note *ngIf="orderForm.get('deliveryTime')?.touched && orderForm.get('deliveryTime')?.invalid" color="danger">
        Delivery Time is required.
      </ion-note>
      <ion-note color="danger">
        <p>{{'Any order before 3 PM will be delivered the same day.' | translate}}</p>
        <p>{{'Orders after 3 PM will be delivered the next day.' | translate}}</p>
      </ion-note>
      <ion-button expand="full" type="submit">{{'Book Now' | translate}} ({{ grandTotal +
        additionalCharge}}) QAR</ion-button>
    </form>
  </ion-grid>
</ion-content>