<ion-header class="header-menu" [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{'Checkout' | translate}}</ion-title>

    <ion-buttons slot="end" (click)="goToCheckout()">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-badge>{{ count }}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <swiper-container dir="rtl" rtl="true" [loop]="true" autoplay="true" [pagination]="{ clickable: true }"
    [slidesPerView]="1" [slidesPerGroup]="1" [loopFillGroupWithBlank]="true">
    <swiper-slide swiperSlide>
      <img src="assets/images/7alanam.jpeg" alt="Promo 1">
    </swiper-slide>
    <swiper-slide swiperSlide>
      <img src="assets/images/5alanam.jpeg" alt="Promo 2">
    </swiper-slide>
    <swiper-slide swiperSlide>
      <img src="assets/images/1alanam.jpeg" alt="Promo 2">
    </swiper-slide>
  </swiper-container>

  <ion-grid>
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
      <h2>{{'User Info' | translate}} <ion-icon name="information-circle" color="primary"
          (click)="showDeliveryToast()"></ion-icon>
      </h2>

      <!-- Address Type -->
      <ion-item>
        <ion-label>{{'Address Type' | translate}}</ion-label>
        <ion-select formControlName="addressType" (ionChange)="onAddressTypeChange($event)">
          <ion-select-option value="individual">{{'Individual' | translate}}</ion-select-option>
          <ion-select-option value="company">{{'Company' | translate}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-note *ngIf="orderForm.get('addressType')?.touched && orderForm.get('addressType')?.invalid" color="danger">
        Address Type is required.
      </ion-note>

      <!-- Customer Name -->
      <ion-item>
        <ion-label position="floating">{{'Customer Name' | translate}}</ion-label>
        <ion-input minlength="3" formControlName="customerName"></ion-input>
      </ion-item>
      <ion-note *ngIf="orderForm.get('customerName')?.touched && orderForm.get('customerName')?.invalid" color="danger">
        {{'Customer Name is required and must be atleast 3 character long .' | translate}}
      </ion-note>

      <!-- Email -->
      <ion-item>
        <ion-label position="floating">{{'Email'| translate}}</ion-label>
        <ion-input formControlName="emailID"></ion-input>
      </ion-item>
      <ion-note *ngIf="orderForm.get('emailID')?.touched && orderForm.get('emailID')?.invalid" color="danger">
        <span *ngIf="orderForm.get('emailID')?.errors?.['required']">{{'Email is required.' | translate}}</span>
        <span *ngIf="orderForm.get('emailID')?.errors?.['email']">{{'Invalid email format.' | translate}}</span>
      </ion-note>

      <!-- Phone Number -->
      <ion-item>
        <ion-label position="floating">{{'Phone Number'| translate}}</ion-label>
        <ion-input maxlength="8" type="tel" formControlName="phoneNo"></ion-input>
      </ion-item>
      <ion-note *ngIf="orderForm.get('phoneNo')?.touched && orderForm.get('phoneNo')?.invalid" color="danger">
        <span *ngIf="orderForm.get('phoneNo')?.errors?.['required']">{{'Phone Number is required.' | translate}}</span>
        <span *ngIf="orderForm.get('phoneNo')?.errors?.['minlength']">Phone Number must be at least 8 digits.</span>
      </ion-note>

      <!-- Company Name (Visible only if address type is "company") -->
      <div *ngIf="isCompany">
        <ion-item>
          <ion-label position="floating">{{'Company Name' | translate}}</ion-label>
          <ion-input formControlName="companyName"></ion-input>
        </ion-item>
      </div>


      <h2>{{'Shipping Address' | translate}}</h2>
      <!-- City -->
      <ion-item>
        <ion-label position="floating">{{'City' | translate}}</ion-label>
        <ion-input #cityInput formControlName="city"></ion-input>
      </ion-item>
      <ion-note *ngIf="orderForm.get('city')?.touched && orderForm.get('city')?.invalid" color="danger">
        {{'City is required.' | translate}}
      </ion-note>

      <!-- Building/No -->
      <ion-item>
        <ion-label position="floating">{{'Building/No' | translate}}</ion-label>
        <ion-input formControlName="buildingName_No"></ion-input>
      </ion-item>
      <ion-note *ngIf="orderForm.get('buildingName_No')?.touched && orderForm.get('buildingName_No')?.invalid"
        color="danger">
        {{'Building/No is required.' | translate}}
      </ion-note>

      <!-- Street Name/No -->
      <ion-item>
        <ion-label position="floating">{{'Street Name/No' | translate}}</ion-label>
        <ion-input formControlName="streetName_No"></ion-input>
      </ion-item>
      <ion-note *ngIf="orderForm.get('streetName_No')?.touched && orderForm.get('streetName_No')?.invalid"
        color="danger">
        {{'Street Name/No is required.' | translate}}
      </ion-note>

      <!-- Landmark -->
      <ion-item>
        <ion-label position="floating">{{'Landmark' | translate}}</ion-label>
        <ion-input formControlName="landMark"></ion-input>
      </ion-item>
      <ion-note *ngIf="orderForm.get('landMark')?.touched && orderForm.get('landMark')?.invalid" color="danger">
        {{'Landmark is required.' | translate}}
      </ion-note>

      <!--ZoneNo-->
      <ion-item>
        <ion-label position="floating">{{'Zone No' | translate}}</ion-label>
        <ion-input formControlName="zoneNo"></ion-input>
      </ion-item>
      <ion-note *ngIf="orderForm.get('zoneNo')?.touched && orderForm.get('zoneNo')?.invalid" color="danger">
        {{'Zone No is required.' | translate}}
      </ion-note>

      <!-- Delivery Method -->
      <h2>{{'Delivery Method' | translate}}</h2>

      <ion-radio-group formControlName="deliveryMethod">
        <ion-radio slot="start" justify="space-between" value="selfPickup" id="selfPickup">{{'Self Pickup' |
          translate}}</ion-radio><br />
        <ion-radio slot="start" justify="space-between" value="homeDelivery" id="homeDelivery">{{'Home Delivery' |
          translate}}</ion-radio> <br />
      </ion-radio-group>

      <!-- Delivery Time -->
      <ion-item>
        <ion-label position="floating">{{'Delivery Time' | translate}}</ion-label>
        <ion-select formControlName="deliveryTime">
          <ion-select-option value="09AM-11PM">10AM-12PM</ion-select-option>
          <ion-select-option value="10AM-12PM">11AM-01PM</ion-select-option>
          <ion-select-option value="12PM-2PM">01PM-3PM</ion-select-option>
          <ion-select-option value="2PM-4PM">6PM-9PM</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-note *ngIf="orderForm.get('deliveryTime')?.touched && orderForm.get('deliveryTime')?.invalid" color="danger">
        {{'Delivery Time is required.' | translate}}
      </ion-note>

      <ion-button expand="full" type="submit">{{'Pay Now' | translate}} ({{totalAmount}} QAR)</ion-button>
    </form>
  </ion-grid>


</ion-content>