<ion-header>
  <ion-toolbar color="transparent" class="custom-header-toolbar">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <img src="assets/images/alanam-logo.png" alt="Logo" class="logo">
        </ion-col>
        <ion-col size="8">
          <p class="location-text">{{'Alanaam Factory For Animals Production' | translate}}</p>
        </ion-col>
        <ion-col size="2" class="ion-text-end">

          <ion-label class="language" (click)="openPopover($event)">
            {{currentLanguage}}
          </ion-label>

        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col lines="none" class="custom-search">
          <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onSearch($event)"  placeholder="{{'Search' | translate}}'" class="searchbar-custom"></ion-searchbar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <p class="address-text"><ion-icon name="location-outline"></ion-icon> {{'Bu Fass, Doha-QATAR' | translate}}
          </p>
          <div class="info">
            <ion-label class="email-text"><ion-icon name="mail-outline"></ion-icon> info&#64;alanaam.qa</ion-label>
            <ion-label class="phone-text"><ion-icon name="call-outline"></ion-icon> +974 50375555 </ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="home-page" class="ion-padding">

  <swiper-container rtl="true" dir="rtl" [loop]="true" autoplay="true" [pagination]="{ clickable: true }"
    [slidesPerView]="1" [slidesPerGroup]="1" [loopFillGroupWithBlank]="true">
    <swiper-slide swiperSlide>
      <img src="assets/images/1alanam.jpeg" alt="Promo 1">
    </swiper-slide>
    <swiper-slide swiperSlide>
      <img src="assets/images/2alanam.jpeg" alt="Promo 2">
    </swiper-slide>
    <swiper-slide swiperSlide>
      <img src="assets/images/3alanam.jpeg" alt="Promo 2">
    </swiper-slide>
  </swiper-container>

  <div class="main_content_div">

    <ion-label class="title_lbl">{{'Premium Quality, Fresh Flavor' | translate}}</ion-label>
    <ion-label class="title_lbl">{{'Crafted with care, raised with respect' | translate}}</ion-label>

    <ion-row>
      <ion-col size="4" *ngFor="let category of categories">
        <div class="cat-img" (click)="navigateToCategory(category.categoryID)">
          <ion-img [src]="'https://shopapi.alanaam.qa/' + category.categoryUrl" alt="{{category.en_CategoryName}}"
            class="category-image"></ion-img>
          <ion-label class="cat-label">{{ currentLanguage === 'ar' ? category.ar_CategoryName : category.en_CategoryName
            | uppercase}}</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <section class="featured-products">
    <h2 class="section-title">{{'Featured Products' | translate}}</h2>
    <div class="swiper-container">
      <swiper-container dir="rtl" rtl="true" [slidesPerView]="2" [spaceBetween]="15" [loop]="true" autoplay="true"
        class="swiper-wrapper">
        <swiper-slide swiperSlide *ngFor="let product of featuredProducts">
          <div class="product-card" (click)="navigateToProduct(product.productID)">
            <div class="product-image">
              <ion-img class="s-image" [src]="'https://shopapi.alanaam.qa/' + product.mainImageUrl"
                alt="{{ currentLanguage === 'ar' ? product.ar_ProductName : product.en_ProductName }}"></ion-img>
            </div>
            <div class="product-details">
              <h3 class="product-name">{{ currentLanguage === 'ar' ? product.ar_ProductName : product.en_ProductName }}
              </h3>
              <p class="product-price">QAR {{ product.productPrice }}</p>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </section>


  <section class="new-products">
    <h2 class="section-title">{{'New Products' | translate}}</h2>
    <div class="swiper-container">
      <swiper-container dir="rtl" rtl="true" [slidesPerView]="2" [spaceBetween]="15" [loop]="true" autoplay="true"
        class="swiper-wrapper">
        <swiper-slide swiperSlide *ngFor="let product of newProduct">
          <div class="product-card">
            <div class="product-image" (click)="navigateToProduct(product.productID)">
              <ion-img class="p-image" [src]="'https://shopapi.alanaam.qa/' + product.mainImageUrl"
                alt="{{ currentLanguage === 'ar' ? product.ar_ProductName : product.en_ProductName }}"></ion-img>
            </div>
            <div class="product-details">
              <h3 class="product-name"> {{ currentLanguage === 'ar' ? product.ar_ProductName : product.en_ProductName }}
              </h3>
              <p class="product-price">QAR {{ product.productPrice }}</p>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </section>
</ion-content>