
<ion-header>
  <ion-toolbar color="transparent" class="custom-header-toolbar">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="6">
          <img src="assets/images/alanam-logo.png" alt="Logo" class="logo">
        </ion-col>
        <ion-col size="6" class="ion-text-end">
          <ion-button fill="clear">
            <ion-icon name="cart-outline"></ion-icon>
            <app-cart-count>1</app-cart-count>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col lines="none" class="custom-search">
          <ion-searchbar placeholder="Search for 'Meet'" class="searchbar-custom"></ion-searchbar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <p class="location-text">Current Location</p>
          <p class="address-text">#123, Doha, Qatar</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="home-page"  class="ion-padding">
  <app-custom-loader [isLoading]="isLoading"></app-custom-loader>

  <div class="swiper-container">
    <swiper-container [slidesPerView]="1" [autoplay]="true" [loop]="true" class="swiper-wrapper">
      <swiper-slide swiperSlide>
        <img src="assets/images/raw-meat.jpg" alt="Promo 1">
      </swiper-slide>
      <swiper-slide swiperSlide>
        <img src="assets/images/raw-meat.jpg" alt="Promo 2">
      </swiper-slide>
    </swiper-container>
  </div>

  <div class="main_content_div">

    <ion-label class="title_lbl">Premium Quality, Fresh Flavor</ion-label>
    <ion-label class="title_lbl">Crafted with care, raised with respect</ion-label>

    <ion-row>
      <ion-col size="4" *ngFor="let category of categories">
        <div class="cat-img" (click)="navigateToCategory(category.categoryID)">
          <ion-img
          [src]="'https://shopapi.alanaam.qa/' + category.categoryUrl" alt="{{category.en_CategoryName}}"
            class="category-image"></ion-img>
          <ion-label class="cat-label">{{ category.en_CategoryName }}</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </div>
 
  <section class="featured-products">
    <h2 class="section-title">Featured Products</h2>
    <div class="swiper-container">
      <swiper-container [slidesPerView]="2" [spaceBetween]="15" [loop]="true" class="swiper-wrapper">
        <swiper-slide swiperSlide *ngFor="let product of featuredProducts">
          <div class="product-card" (click)="navigateToProduct(product.productID)">
            <div class="product-image">
              <ion-img class="s-image" [src]="'https://shopapi.alanaam.qa/' + product.mainImageUrl"
                alt="{{ product.en_ProductName }}"></ion-img>
            </div>
            <div class="product-details">
              <h3 class="product-name">{{ product.en_ProductName }}</h3>
              <p class="product-price">QAR {{ product.productPrice }}</p>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </section>
  

  <section class="new-products">
    <h2 class="section-title">New Products</h2>
    <div class="swiper-container">
      <swiper-container [slidesPerView]="2" [spaceBetween]="15" [loop]="true" class="swiper-wrapper">
        <swiper-slide swiperSlide *ngFor="let product of newProduct">
          <div class="product-card">
            <div class="product-image" (click)="navigateToProduct(product.productID)">
              <ion-img class="p-image" [src]="'https://shopapi.alanaam.qa/' + product.mainImageUrl"
                alt="{{ product.en_ProductName }}"></ion-img>
            </div>
            <div class="product-details">
              <h3 class="product-name">{{ product.en_ProductName }}</h3>
              <p class="product-price">QAR {{ product.productPrice }}</p>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </section>
</ion-content>
