<ion-header class="header-menu" [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="navigateToHome()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{'User Profile' | translate}}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="navigateToCart()">
        <ion-icon class="filled" name="cart"></ion-icon>
        <ion-badge>{{count}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="user-profile">
    <div class="info-section">
      <div class="info-card">
        <p>{{'Need to show your order history?' | translate}}</p>
        <a (click)="navigateToOrders()">{{'Please click here' | translate}}</a>
      </div>
      <div class="info-card">
        <p>{{'Wanna Logout?' | translate}}</p>
        <a (click)="logout()">{{'Please click here' | translate}}</a>
      </div>
    </div>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">{{'Full Name' | translate}}</ion-label>
        <ion-input formControlName="fullName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">{{'Email' | translate}}</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">{{'Mobile/Phone' | translate}}</ion-label>
        <ion-input type="tel" maxlength="8" formControlName="mobilePhone"></ion-input>
      </ion-item>

      <ion-button class="mt-5" expand="block" type="submit">{{'Update' | translate}}</ion-button>
    </form>
  </div>

  <!--Delete my account button-->
  <ion-button class="delete-account" expand="block" color="primary" (click)="deleteAccount()">
    {{'Delete My Account' | translate}}
  </ion-button>
  <ion-note color="danger">Are you looking to delete you account? This will completely delete your account in our system.</ion-note>

</ion-content>