:root {
    --ion-background-color: whitesmoke !important;
    --ion-text-color: darkred !important;
}
ion-header{
    display: flex;
    align-items: center;
}
.mt-5{
    margin-top: 30px;
}
.delete-account{
    margin-top: 100px;
    width: 90%;
    text-align: center;
}